<app-header></app-header>


<div class="imagemFundo">
    <img src="../../../assets/plantacao.jpg" alt="imagemFundo">
    <p class="imagemFundo-text">Revolucione <br> seu agronegócio<br>para colher <br>resultados <br>extraordinários.</p>
</div>


<div class="green-bar">
<img src="../../../assets/economia.png" alt ="imgEconomia" >
  <div class="data-item">
      <p class="data-text-item1"> ECONOMIA</p>
  </div>
  <img src="../../../assets/agriculturaFamiliar.png" alt="imgAgriculturaFamiliar">
  <div class="data-item">
    <p class="data-text-item2">AGRICULTURA FAMILIAR</p>
  </div>
  <img src="../../../assets/producao.png" alt="imgProducao" >
  <div class="data-item">
    <p class="data-text-item3">PRODUÇÃO</p>
  </div>
  <img src="../../../assets/produtividade.png" alt="imgprodutividade">
  <div class="data-item">
    <p class="data-text-item4">PRODUTIVIDADE</p>
  </div>
  <img src="../../../assets/gado.png"  alt="imgGado" >
</div>


<div class="container container1">
  <div class="card-principal">
    <div class="card-header-principal">
      <img src="../../../assets/gado-leite.jpg" class="card-img" alt="gado-leite"/>
    </div>

    <div class="card-body">
      <h3 class="card-local">Novidades</h3>
      <h2 class="card-titulo-principal">
        Embrapa oferece curso imersivo de Pecuária Leiteira Orgânica em fazendas certificadas</h2>
      <p class="card-texto-principal">
        A Embrapa realiza mais uma vez o curso de Pecuária Leiteira com foco na produção orgânica. 
        Diferente de outros programas, o curso tem seis módulos, será presencial e imersivo no dia a dia de propriedades orgânicas de leite. 
        As inscrições já estão abertas e podem ser feitas pelo site da Embrapa Pecuária Sudeste.
      </p>
    </div>
    <div class="card-footer-principal">
      <a href="https://www.embrapa.br/web/portal/busca-de-eventos/-/evento/476520">Ver Mais</a>
    </div>
  </div>


  <div class="card card-1">
    <div class="card-header">
      <img src="../../../assets/produtor-organico.jpg"  class="card-img" alt="produtor-organico"/>
    </div>
    <div class="card-body">
      <h3 class="card-local">Agricultura Familiar</h3>
      <h2 class="card-titulo">Chico Rodrigues destaca importância da agricultura familiar </h2>
      <p class="card-texto">
        O senador Chico Rodrigues (PSB-RR) destacou, em pronunciamento na terça-feira (21), a importância do apoio do governo federal à agricultura familiar. 
        Para o parlamentar, essa é uma das principais fontes de criação de renda e emprego para o homem do campo.
      </p>
    </div>
    <div class="card-footer">
      <a href="https://www12.senado.leg.br/noticias/materias/2023/03/22/chico-rodrigues-destaca-importancia-da-agricultura-familiar">Ver Mais</a>
    </div>
  </div>



  <div class="card card-2">
    <div class="card-header">
      <img src="../../../assets/maquinas.jpg" class="card-img" alt="maquinas"/>
    </div>
    <div class="card-body">
      <h3 class="card-local">Economia</h3>
      <h2 class="card-titulo">Pronaf - Programa Nacional de Fortalecimento da Agricultura Familiar</h2>
      <p class="card-texto">
        O Pronaf destina-se a estimular a geração de renda e melhorar o uso da mão de obra familiar, por meio do financiamento de 
        atividades e serviços rurais agropecuários e não agropecuários desenvolvidos em estabelecimento rural ou em áreas comunitárias próximas.
      </p>
    </div>
    <div class="card-footer">
      <a href="https://www.bndes.gov.br/wps/portal/site/home/financiamento/produto/pronaf">Ver Mais</a>
    </div>

  </div>
 


  <div class="card card-3">
    <div class="card-header">
      <img src="/../../assets/irrigacao.jpg" class="card-img" alt="irrigacao" />
    </div>
    <div class="card-body">
      <h3 class="card-local">Produção Agropecuária</h3>
      <h2 class="card-titulo">Valor da Produção Agropecuária previsto para 2023 tem o melhor resultado em 34 anos</h2>
      <p class="card-texto">
        O Valor Bruto da Produção Agropecuária (VBP) para este ano, com base nas informações de janeiro, está estimado 
        em R$ 1.265,2 trilhão. Este é o melhor resultado obtido nos últimos 34 anos para esse indicador.
      </p>
    </div>
    <div class="card-footer">
      <a href="https://www.gov.br/agricultura/pt-br/assuntos/noticias/valor-da-producao-agropecuaria-previsto-para-2023-tem-o-melhor-resultado-em-34-anos">Ver Mais</a>
    </div>
  </div>



  <div class="card">
    <div class="card-header">
      <img src="/../../assets/producao-trigo.jpg"class="card-img" alt="producao-trigo"/>
    </div>
    <div class="card-body">
      <h3 class="card-local">Novidades</h3>
      <h2 class="card-titulo">Senar Goiás oferece cursos gratuítos de Agricultura de precisão</h2>
      <p class="card-texto">
        Produtores e trabalhadores rurais ou qualquer pessoa que tenha interesse em se qualificar na área do agronegócio no Estado de Goiás, estão
        tendo a oportunidade de fazer cursos gratuitos pela Senar Góias.
      </p>
    </div>
    <div class="card-footer">
      <a href="https://ead.senargo.org.br/programa/agricultura-de-precisao">Ver Mais</a>
    </div>
  </div>



  <div class="card card-2">
    <div class="card-header">
      <img src="/../../assets/custeio-agricola.jpeg" class="card-img" alt="custeio-agricola"/>
    </div>
    <div class="card-body">
      <h3 class="card-local">Economia</h3>
      <h2 class="card-titulo">Lula vai lançar Plano Safra com mais de R$ 400 bilhões em recursos para agricultura </h2>
      <p class="card-texto">
        O presidente Luiz Inácio Lula da Silva (PT) vai lançar nesta terça-feira (27) o Plano Safra 2023/2024, 
        que tem o objetivo de estimular a produção sustentável de alimentos e a agropecuária com baixa emissão de carbono. 
      
      </p>
    </div>
    <div class="card-footer">
      <a href="https://noticias.r7.com/brasilia/lula-vai-lancar-plano-safra-com-mais-de-r-400-bilhoes-em-recursos-para-agricultura-24062023">Ver Mais</a>
    </div>
  </div>


  <div class="card card-3">
    <div class="card-header">
      <img src="/../../assets/produtor-agricola.jpg" class="card-img" alt="produtor" />
    </div>
    <div class="card-body">
      <h3 class="card-local">Produção Agrícola</h3>
      <h2 class="card-titulo">Produção agrícola deve ultrapassar 72 milhões de toneladas neste ano em MS</h2>
      <p class="card-texto">
        Para este ano a expectativa é que a produção agrícola de Mato Grosso do Sul seja de 72,09 milhões de toneladas, 
        distribuída por 6,88 milhões de hectares e um rendimento R$ 52 bilhões aos produtores rurais do estado, de acordo com o (Semadesc).
      </p>
    </div>
    <div class="card-footer">
      <a href="https://g1.globo.com/ms/mato-grosso-do-sul/noticia/2023/06/19/producao-agricola-deve-ultrapassar-72-milhoes-de-toneladas-e-renda-de-r-52-bilhoes-neste-ano-em-ms.ghtml">Ver Mais</a>
    </div>
  </div>



  <div class="card-principal">
    <div class="card-header-principal">
      <img src="/../../assets/agrotech.jpg" class="card-img" alt="agrotech"/>
    </div>
    <div class="card-body">
      <h3 class="card-local">Novidades</h3>
      <h2 class="card-titulo-principal">Produção agrícola sustentável: Plantações sem agrotóxicos e reflorestamentos são tendência do agronegócio no ES</h2>
      <p class="card-texto-principal">
        O setor agrícola é um dos motores da economia no Espírito Santo. A maior preocupação dos produtores capixabas é produzir de forma sustentável. 
        E os produtores capixabas estão percebendo, cada vez mais, 
        que esse tipo de produção, que respeita o meio ambiente e é justa do ponto de vista social também consegue ser economicamente viável. 
      </p>
    </div>
    <div class="card-footer-principal">
      <a href="https://g1.globo.com/es/espirito-santo/agronegocios/noticia/2023/05/26/producao-agricola-sustentavel-plantacoes-sem-agrotoxicos-e-reflorestamentos-sao-tendencia-do-agronegocio-no-es.ghtml">Ver Mais</a>
    </div>
  </div>

  
</div>
<div class="green-bar-info">
  <img src="../../../assets/agro-4.0.jpeg" alt ="imgEconomia" >
  <div class="data-item">
      <h2 class="titulo-principal">INOVAÇÃO</h2><br><br>
      <p class="data-text-principal"> O AgroBase é uma plataforma que tem como objetivo é criar um dashboard com dados relacionados ao agronegócio, a
         fim de fornecer informações precisas e atualizadas para tomada de decisões estratégicas pelos gestores do setor do agronégocio.
  </div>
</div>
<div class="texto">
  <p class = "texto"> "O Poder Verdejante: O Agronegócio Brasileiro Alimentando o Mundo"</p>
</div>
<div class="texto-base">
<p class = "texto-base"> O agronegócio brasileiro, pulsante e imponente, é um verdadeiro gigante que desperta admiradores e conquista fronteiras. 
  É um universo de força e determinação, onde a terra é moldada com suor e expertise, e colhe-se a prosperidade.
  Dos vastos campos verdejantes aos confins da Amazônia, o Brasil se ergue como potência agrícola, abastecendo o mundo com sua produção farta e 
  diversificada.<br><br>
  É na lavoura que a semente da transformação é plantada, gerando alimentos que saciam a fome e nutrem o futuro.
  O agro brasileiro é o motor que impulsiona o país, uma fonte inesgotável de riqueza e desenvolvimento. É um setor que não se curva diante das 
  adversidades, mas se fortalece, reinventa e conquista novos horizontes.<br><br>

  O agro brasileiro é um símbolo de orgulho, uma referência mundial em produtividade e sustentabilidade. É a essência de um país que tem no 
  campo a sua raiz, onde a natureza se une à tecnologia e o progresso se funde à tradição.<br><br>
  
  O agro brasileiro é mais do que uma atividade econômica, é uma paixão que pulsa no peito de cada brasileiro. É o retrato de um país abençoado 
  pela diversidade, pela fertilidade do solo e pela capacidade infinita de produzir e crescer.<br><br>
  
  Que o agro brasileiro continue a florescer, regando os sonhos de uma nação e construindo um futuro fértil e próspero para todos. 
  Pois, no coração do Brasil, o agronegócio é a semente que transforma, nutre e faz brotar a esperança de um país cada vez mais forte.<br><br></p>

</div>
<app-footer></app-footer>
