<app-header></app-header>
<div class="imagemFundo">
    <img src="../../../assets/plantacao.jpg" alt="imagemFundo">
    <p class="imagemFundo-text">Revolucione <br> seu agronegócio<br>para colher <br>resultados <br>extraordinários.</p>
</div>
<div class="green-bar">
<img src="../../../assets/economia.png" alt ="imgEconomia" >
  <div class="data-item">
      <p class="data-text-item1"> ECONOMIA</p>
  </div>
  <img src="../../../assets/agriculturaFamiliar.png" alt="imgAgriculturaFamiliar">
  <div class="data-item">
    <p class="data-text-item2">AGRICULTURA FAMILIAR</p>
  </div>
  <img src="../../../assets/producao.png" alt="imgProducao" >
  <div class="data-item">
    <p class="data-text-item3">PRODUÇÃO</p>
  </div>
  <img src="../../../assets/produtividade.png" alt="imgprodutividade">
  <div class="data-item">
    <p class="data-text-item4">PRODUTIVIDADE</p>
  </div>
  <img src="../../../assets/gado.png" alt="icone" alt="imgGado" >
</div>
  

<app-footer></app-footer>