@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

nav ul li a:hover{
    color: #00B536;
}

header{
    width: 100%;
    height: 110px;
    position: absolute;
    //background-color: #EAEAEA;
    z-index: 1; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-itens{
    list-style: none;
    display: flex;
    right: 70px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.nav-itens>li>a{
    font-size:  23px;
    padding-left: 50px;
    color: #000;
    right: 40px;
}



.logo{
    position: relative;
    left: 50px;
    top: 50%;
    height: auto; 
    width: 100px;
}

