@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    color: #000;
    text-decoration: none;
}

nav ul li a:hover{
    color: #00B536;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #EAEAEA
}

.nav-itens{
    list-style: none;
    display: flex;
    align-items: flex-start;
		height: 100%;
}

.nav-itens>li>a{
    font-size: 1.3vw;
    margin-right: 4vw;
}

.logo{
    position: relative;
    left: 4vw;
    height: auto; 
    width: 8.5vw;
    transition: .3s ease;
}

.logo:hover{
    transform: scale(1.1);
}
