
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
<header class = "cabecalho">
    <nav>
     <img class = "logo" src = "./assets/logomarca.png">

        <ul class="nav-itens">
            
            <li class="link"><a href="https://github.com/fga-eps-mds/2023.1-DAB" target="_blank">Repositórios</a> </li>
            <li><a href="#">Recursos</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>        
</header>





</body>
</html>