<app-header></app-header>
<h1>Para entrar em contato:</h1>   
    <div class="container">
        <form action="/formulario-contato"> 
            <div>
                <label for="nome">Nome:</label>
                <input type="text" placeholder="Informe seu nome"> 
            </div>
            <div>
                <label for="e-mail">E-mail:</label>
                <input type="text" placeholder="Informe seu e-mail"> 
            </div>
            <div>
                <label for="texto">Texto:</label>
                <textarea name="texto-usuario" id="texto" placeholder="Digite uma mensagem"></textarea>    
            </div>
            <div class="button">
                <button>Enviar</button>
            </div>
        </form>
    </div>
<app-footer></app-footer>