@import '../../../dist/scss/variables.scss';

.container{
	margin-top: 100px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}


#svg-Mapa {
	fill:#00B536;
}

#svg-Mapa text {
	fill:#000000;
	font:12px 'Poppins', sans-serif;
	cursor:pointer
}

#svg-Mapa a{
	text-decoration:none; fill:#00B536
}
#svg-Mapa a:hover {
	fill:#238E23 !important;
	cursor:pointer;
}
