
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    
<header class = "cabecalho">
    <nav>
     <img class = "logo" src = "./assets/logomarca.png">

        <ul class="nav-itens">
            
            <li><a href="#">Repositórios</a> </li>
            <li><a href="#">Recursos</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>        
</header>





</body>
</html>