<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    
<header class = "cabecalho">
    <nav>
        <a href="/"><img class = "logo" src = "./assets/logomarca.png"></a>     <!--agora se você clicar na foto da logo marca, você volta pra home-->

        <ul class="nav-itens">
            <li><a href="/recursos">Recursos</a></li>
            <li class="link"><a  href="https://github.com/fga-eps-mds/2023.1-DAB" target="_blank">Repositórios</a> </li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
    </nav>        
</header>

</body>