@import '../../../dist/scss/variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    margin-top: 100px;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}

.card {
    border-radius: 6px;
    width: 420px;
    height: 500px;
    transition: background-color 0.5s ease;
    background-color: #fff;
    margin: 5px;
}

.animal {
    position: relative;
    top: 58px;
    left: 120px;
    max-width: 40%;
    max-height: 40%;
    border-radius: 50%;
    border: 3px solid #000;
    box-sizing: border-box;
    padding: 10px;
}

.nome {
    position: relative;
    top: 90px;
    text-align: center;
    color: #101010;
    font-size: 30px;
    font-weight: 1000;
    line-height: 1.5;
}

.descricao {
    position: relative;
    top: 130px;
    color: #101010;
    font-size: 22px;
    font-weight: 1000;
    line-height: 1.5;
    text-align: center;
}

.card:hover {
    .descricao {
        color: #335555;
    }

    .nome {
        color: #00B536;
    }

    .animal {
        transition: border-color 0.5s ease;
        border: 3px solid #00B536;
    }

    transition: background-color 0.5s ease;
    background-color: $primary-color;
}