
<div class="banner">
<app-header></app-header>

  <p class="banner-text">Agricultura de sucesso começa com dados<br>precisos</p>
</div>

<div class="green-bar">
  <div class="data-item">
    <span id="data-item1">+{{ dataItems[0] }}B</span>
      <p class="data-text-item">DE BALANÇA COMERCIAL</p>
  </div>
  <div class="data-item">
    <span id="data-item2">+{{ dataItems[1] }}M</span>
    <p class="data-text-item">DE TONELADAS EM PRODUÇÃO AGRÍCOLA</p>
  </div>
  <div class="data-item">
    <span id="data-item3">+{{ dataItems[2] }}B</span>
    <p class="data-text-item">EM EXPORTAÇÕES PECUÁRIAS</p>
  </div>
  <div class="data-item">
    <span id="data-item4">+{{ dataItems[3] }}%</span>
    <p class="data-text-item">DE PARTICIPAÇÃO NA EXPORTAÇÃO</p>
  </div>
</div>
<div class="carousel">
  <h2 id="carousel">PAINEL DE DADOS</h2>
  <app-carousel></app-carousel>
</div>
<div class="info-container" id="sobre">
  <div class="info-content">
    <div class="info-image">
      <img src="../../../assets/fazendeiro_plantando.png" alt="Fazendeiro">
    </div>
    <div class="info-text">
      <h2>SOBRE A<br>PLATAFORMA</h2>
      <p>
        Nós acreditamos que a tecnologia e a informação podem impulsionar o sucesso do agronegócio. 
        Por isso, criamos um site dedicado a fornecer dados precisos e informações valiosas para ajudar 
        produtores a tomar decisões estratégicas.
      </p>
      <p>
        Nossa missão é capacitar produtores com as ferramentas necessárias para maximizar sua colheita e alcançar o sucesso no agronegócio.
      </p>
    </div>
  </div>
</div>
<div class="info-container" id="contato">
  <div class="info-content">
    <div class="info-text">
      <h2>FALE CONOSCO</h2>
      <p>
        Se você tiver alguma dúvida, sugestão ou quiser obter mais informações sobre nossos dados, 
        entre em contato conosco<br/> copiando o endereço de email abaixo. 
        <br/>Nossa equipe terá prazer em ajudar!
      </p>
      <div class="send-email-bt" (click)="copyToClipboard()"  (keyup)="handleKeyUp($event)" tabindex="0">Copiar Email</div>
      <div class="clipboard-message" *ngIf="isCopied">Email "dab2023.br@gmail.com" copiado para a área de transferência!</div>
    </div>
    <div class="info-image">
      <img src="../../../assets/tech_agro.png" alt="fazendeiro no computador">
    </div>
  </div>
</div>
