@import url('https://fonts.googleapis.com/css?family=Inter:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,800');

.send-email-bt {
  width: 247px; 
  height: 60px; 
  background: #00B536; 
  border-radius: 20px;
  margin-top: 5%;
  color: #fff;
  text-align: center;
  font: 700 20px "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.send-email-bt:hover {
  opacity: 0.8;
}

.clipboard-message{
  color:#363636;
  margin-top: 4%;
  font-size: 10pt;
}

.banner nav{
  display: flex;
  align-items: center;
  justify-content: space-between;


  .nav-itens>li>a:hover{
    color: #00B536;
  }

  .nav-itens{
    list-style: none;
    display: flex;
    right: 70px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .nav-itens>li>a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    font-size:  15px;
    padding-left: 50px;
    right: 40px;
  }
  
  .logo{
    position: relative;
    left: 50px;
    top: 50%;
    height: auto; 
    width: 120px;
    transition: .3s ease;
  }

  .logo:hover{
    transform: scale(1.1);
  }
  
}


.banner {
    content: "";
    position: relative;
    width: 100%;
    margin-bottom: 0;
    flex-direction: column;
    background-size: cover;
    background-image: url('../../../assets/BA.png');
    width: 100%;
    height: 800PX;
}

  .banner-text{
    font-family: 'Poppins';
    position: absolute;
    top:20%;
    left:5%;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    display: flex;
    align-items: center;
    letter-spacing: -0.005em;
    color: #363636;
  }

.green-bar {
  height: 140px;
  background-color: #335555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top:100%;
}
  
  .data-item {
    flex: 1;
    text-align: center;
    font-size: 18px;
    color: #DACD51;
    font-size: 55px;
    font-weight: bold;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    animation: count-up 1s ease-in-out;
  }

  .data-text-item{
    font-size: 13px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
  }

.carousel{
  align-items: center;
  text-align: center;

  h2{
    text-align: center;
    margin-top: 7%;
    margin-bottom: 9%;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    font-size: 45px;
    line-height: 73px;
    letter-spacing: -0.01em;
  }
}

@keyframes count-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .info-content {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;

    .info-image {
      img {
        max-width: 620px;
        height: auto;
      }
    }

    .info-text {
      margin-left: 18px;

      p {
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0.005em;
        text-align: left;
        margin-top: 40px;
      }
      h2{
        font-family: 'Inter';
        font-style: bold;
        font-weight: 600;
        font-size: 45px;
        line-height: 70px;
        align-items: center;
        letter-spacing: 0.001em;
        line-height: 55px;
      }
    }
  }
}
