<app-header></app-header>
<div class="banner">
    <img src="../../../assets/BA.png" alt="Banner">
    <p class="banner-text">Agricultura de<br>sucesso<br>começa com<br>dados<br>precisos</p>
</div>

<div class="green-bar">
  <div class="data-item">
    <span id="data-item1">+{{ dataItems[0] }}M</span>
      <p class="data-text-item">EM RECEITA LÍQUIDA</p>
  </div>
  <div class="data-item">
    <span id="data-item2">+{{ dataItems[1] }}</span>
    <p class="data-text-item">EM DADOS FICTÍCIOS</p>
  </div>
  <div class="data-item">
    <span id="data-item3">{{ dataItems[2] }}</span>
    <p class="data-text-item">EM DADOS FICTÍCIOS</p>
  </div>
  <div class="data-item">
    <span id="data-item4">+{{ dataItems[3] }}K</span>
    <p class="data-text-item">EM DADOS FICTÍCIOS</p>
  </div>
</div>
<div class="carousel">
  <h2>PAINEL DE DADOS</h2>
  <app-carousel></app-carousel>
</div>
<div class="info-container">
  <div class="info-content">
    <div class="info-image">
      <img src="../../../assets/fazendeiro_plantando.png" alt="Fazendeiro">
    </div>
    <div class="info-text">
      <h2>SOBRE A<br>PLATAFORMA</h2>
      <p>
        Nós acreditamos que a tecnologia e a informação podem impulsionar o sucesso do agronegócio. 
        Por isso, criamos um site dedicado a fornecer dados precisos e informações valiosas para ajudar 
        produtores a tomar decisões estratégicas.
      </p>
      <p>
        Nossa missão é capacitar produtores com as ferramentas necessárias para maximizar sua colheita e alcançar o sucesso no agronegócio.
      </p>
    </div>
  </div>
</div>
