<a class="suinocultura" href="#">
    <img class = "porquinho" src = "./assets/porco.png">

    <p class = "suino">
        Suinocultura
    </p>

    <p class = "descriSuino">
        Dados referentes à suinocultura do último trimestre
    </p>
    
</a>

<a class="bovinocultura" href="r1">
    <img class = "vaquinha" src="./assets/vaquinha.png">

    <p class="bovino">
        Bovinocultura
    </p>

     <p class="descriBovino">
        Dados referentes à bovinocultura do último trimestre
    </p>
</a>

<a href="#" class="avinocultura">
    <img class = "galinha" src="./assets/galinha.png">

    <p class="avino">
        Avinocultura
    </p>

    <p class="descriGalinha">
        Dados referentes à avinocultura do último trimestre
    </p>
</a>