h1 {
    margin: 2%;
    top: 230px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #000000;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}