
.container {
	display: grid;
	grid-template-columns: 90% 10%
}
.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	button {
		margin-top: 30px;
		border: none;
		background-color: #fff;
	}
	img{
		transition: .3s ease;	
		cursor: pointer;
		width: 120px;
	}

	img:hover{
		transform: scale(1.1);
	}
}
