
.container {
	display: grid;
	grid-template-columns:20% 72% 8%
}
h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: -0.01em;
    margin-top: 280px;
}
h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: -0.01em;
    color:#363636
}
h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: -0.01em;
    margin-top: 30px;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;

	button {
		margin-top: 30px;
		border: none;
		background-color: #fff;
	}
	img{
		transition: .3s ease;	
		cursor: pointer;
		width: 60px;
	}

	img:hover{
		transform: scale(1.1);
	}
}
