<div class="container">

	<div class="info">
		<h1>Média por <br>período</h1>
		<h2>{{media()}}</h2>
		<h3>Período de <br> maior produção</h3>
		<h2>{{max}}</h2>
	</div>
	<div>
		<canvas width="80vw" #barchart></canvas>
	</div>
	<div class="buttons">
		<button type="button" (click)="changeChart('bar')">
			<img src="../../../assets/grafico-de-barras.png" alt="grafico-de-barras">
		</button>
		<button type="button" (click)="changeChart('line')">
			<img src="../../../assets/grafico-de-linha.png" alt="grafico-de-linha">
		</button>
	</div>
</div>
