@import './dist/scss/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin : 0;
    padding: 0;
    font-family : inter;
    font-weight: 800;
}

body{
    background: $primary-background-color;

}

//Classes 
.container{
    width: 350px;
    margin: 50px auto;
}